body {
  padding-top: 3.5rem;
}

.slider {
  height: 100vh;
}

.rounded-55 {
  border-radius: 0.55rem!important;
}

.bg-black {
  background-color: #242425;
}

.list-group .list-group-item.item-nav {
  margin-bottom: 0.25rem;
  background-color: transparent;
  color: white;
  border-radius: 0.55rem;
  border: 0;
}

.list-group .list-group-item.item-nav:hover, .list-group-item.item-nav.selected {
  margin-bottom: 0.25rem;
  background-color: #00AEC2;
  color: white;
  border-radius: 0.55rem;
  border-color: #00AEC2;
}

.bg-purple {
  background-color: #A13BB5;
  color: white;
}

.back-title {
  position: relative;
  top: -15px;
  left: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.input-border-bottom {
  outline: 0;
  border-width: 0 0 2px;
  /*border-color: blue*/
}
