body {
    font-family: 'Lato', sans-serif;
}

.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #bf9801;
}

.w-10 {
    width: 10% !important;
}

.caption-carousel {
    object-fit: contain;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: center;
    color: #fffefe;
}

.text-yellow-brown {
    color: #bf9801;
}

.px-content {
    padding: 0 20vh 0 20vh;
}

.rectangle {
    right: 0;
    top: -59px;
    z-index: -1;
}

.rectangle > div > img {
    max-width: 100%;
    width: 100%;
    height: 60px;
}

.bg-gray {
    background-color: #F7F7F7;
}

.w-15{
    width: 15% !important;
}

.bg-black {
    background-color: black;
}

.text-cold-gray{
    color: #8c8f94;
}

footer  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #8c8f94;
}


.rect-black{
    width: 108px;
    height: 90px;
    object-fit: contain;
    position: absolute;
    top: -19px;
}

.img-logo {
    width: 63px;
    height: 51px;
    position: absolute;
    top: -11px;
    left: 36px;
}

.img-logo-name {
    width: 193px;
    height: 31px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 142px;
}

.mt-less-15 {
    margin-top: -15px;
}

.between-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.between-lines:after, .between-lines:before {
  content: '';
  width: 60px;
  height: 2px;
  background: white;
  margin: 0 10px;
}

.dark.between-lines:after, .dark.between-lines:before {
  content: '';
  width: 60px;
  height: 2px;
  background: black;
  margin: 0 10px;
}
