{% extends "backend.html" %}
{% load static %}

{% block content_2 %}
  <div class="border rounded-55 py-3 bg-purple back-title">
    <h3 class="pl-4">Add Dog</h3>
  </div>
  <div>
    <form method="post" class="mt-5 pb-3">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control input-border-bottom" id="id_name" name="name" placeholder="Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md">
          <input type="text" class="form-control input-border-bottom" id="id_breed" name="breed" placeholder="Breed">
        </div>
        <div class="form-group col-md">
          <input type="number" class="form-control input-border-bottom" id="id_age" name="age" placeholder="Age">
        </div>
        <div class="form-group col-md">
          <select class="form-control input-border-bottom" name="owner" id="id_owner">
            <option value="" selected="">Owner</option>
            {% for option in form.fields.owner.choices.queryset %}
              <option value="{{ option.id }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm border rounded-55 px-4 py-1 bg-purple mt-4">
        <span class="small">SAVE DOG</span>
      </button>
    </form>
  </div>
{% endblock %}