{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row" style="height: 100vh">
      <div class="col-md-2 bg-black text-white">
        <div class="border-bottom border-white">
          <div class="p-3 d-table">
            <p class="float-left d-table-cell align-middle m-0 mr-2"><img class="img-fluid" src="{% static 'images/small_logo.png' %}"></p>
            <p class="d-table-cell align-middle">DEKODING</p>
          </div>
        </div>
        <div class="list-group mt-4 text-white">
          <a href="{% url 'list-dog' %}" class="list-group-item item-nav {% if selected == 'list-dog' %}selected{% endif %}">
            <img src="{% static 'images/list_icon.png' %}" class="mr-2" >
            <span>Dog List</span>
          </a>
          <a href="{% url 'add-dog' %}" class="list-group-item item-nav {% if selected == 'add-dog' %}selected{% endif %}">
            <img src="{% static 'images/add_icon.png' %}" class="mr-2" >
            <span>Add Dog</span>
          </a>
          <a href="#" class="list-group-item item-nav">
            <img src="{% static 'images/list_icon.png' %}" class="mr-2" >
            <span>Owner List</span>
          </a>
          <a href="#" class="list-group-item item-nav">
            <img src="{% static 'images/add_icon.png' %}" class="mr-2" >
            <span>Add Owner</span>
          </a>
        </div>
      </div>
      <div class="col-md-10 pt-5" style="background-color: #EDEDED">
        <div class="container mt-5 bg-white rounded rounded-55">
          {% block content_2 %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}