{% extends "backend.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/easy-autocomplete.css' %}">
  <link rel="stylesheet" href="{% static 'css/easy-autocomplete.themes.css' %}">
{% endblock %}
{% block content_2 %}
  <div class="border rounded-55 py-3 bg-purple back-title">
    <h3 class="pl-4">List Git</h3>
  </div>
  <form method="get">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 easy-autocomplete">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" id="search">
      </div>
      <div class="col-md-2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  <div class="mt-5 pb-3">
    {% if objects %}
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Repository</th>
          <th scope="col">Followers</th>
          <th scope="col">Following</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ object.login }}</td>
            <td><i class="fab fa-github" onclick="location.href='{{ object.html_url }}'"></i></td>
            <td>{{ object.more.followers }}</td>
            <td>{{ object.more.following }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h6>No matches</h6>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>
  <script src="{% static 'js/search_suggestions.js' %}"></script>
{% endblock %}