{% extends "base.html" %}
{% load static %}

{% block content %}
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="50000">
    <div class="carousel-inner">
      <div class="carousel-item slider active">
        <div class="d-flex h-100 text-center" style="background:#606060;">
          <img class="align-self-center w-50 mx-auto" src="{% static 'images/logo.png' %}" alt="First slide">
        </div>
      </div>
      <div class="carousel-item slider">
        <div class="row h-100">
          <div class="col-md-4 d-table h-50 text-center" style="background-color: #00A6E3">
            <h1 class="d-table-cell align-middle" style="font-size: 10em">D</h1>
          </div>
          <div class="col-md-4 d-table h-50 text-center" style="background-color: #0065BB">
            <h1 class="d-table-cell align-middle" style="font-size: 10em">E</h1>
          </div>
          <div class="col-md-4 d-table h-50 text-center" style="background-color: #3B0090">
            <h1 class="d-table-cell align-middle" style="font-size: 10em">K</h1>
          </div>
          <div class="col-md-12 d-table h-50 text-center" style="background-color: #554842">
            <h1 class="d-table-cell align-middle" style="font-size: 10em">ODING</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item slider">
        <div class="h-100 row d-flex align-items-end" style='background-image: url("{% static 'images/wallpaper.png' %}")'>
          <div class="offset-md-7 col-md-4 text-right mb-5 pr-2">
            <div class="bg-primary rounded rounded-55" style="height: 10rem">
              <h3 class="card-title text-white text-center pt-3">Dekoding</h3>
            </div>
            <button type="button" class="btn btn-primary btn-sm rounded rounded-55 px-4 my-3" data-toggle="modal" data-target="#exampleModal">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="width: 5%">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="width: 5%">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Content Content
        </div>
        <div class="modal-footer">
          <button id="btn-close" type="button" class="btn btn-secondary d-none">Close</button>
          <button id="btn-submit" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script>
      (function ($) {
          var btn_close = $('#btn-close');
          var btn_submit = $('#btn-submit');
          btn_submit.on('click', function () {
              btn_close.removeClass('d-none')
          });
          btn_close.on('click', function () {
              $(this).addClass('d-none')
          })
      })(jQuery);
  </script>
{% endblock %}