{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INICIO - RANKANA - Zeplin</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="{% static 'css/front2.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid px-0">
  <!-- Navbar -->
  <nav class="navbar navbar-light bg-white">
    <div class="row w-100 border-bottom px-content py-3">
      <div class="col-md-4">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/front2/black-rec.png' %}" class="img-fluid rect-black">
          <img src="{% static 'images/front2/logo.png' %}" class="d-inline-block align-top img-logo" alt="">
          <img src="{% static 'images/front2/logo-name.png' %}" class="img-logo-name">
        </a>
      </div>
      <div class="offset-md-2 col-md-6">
        <div class="row">
          <div class="offset-md-4 col-md-2 text-center">
            <small class="">Register</small>
          </div>
          <div class="col-md-2 text-center border-left border-right">
            <small class="">Login</small>
          </div>
          <div class="col-md-2 text-center">
            <small class="text-yellow-brown">
              EN <i class="fas fa-chevron-down ml-3"></i>
            </small>
          </div>
          <div class="col-md-2 text-center">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100 px-content py-1">
      <div class="offset-md-2 col-md-10">
        <div class="row">
          <div class="offset-md-4 col-md-2 p-0 text-center border-right">
            <i class="fas fa-filter"></i> <small class="font-weight-bold">Artisans catalog</small>
          </div>
          <div class="col-md-6 p-0 text-left pl-2">
            <ul class="list-inline">
              <li class="list-inline-item"><small class="text-muted">Goldsmithing</small></li>
              <li class="list-inline-item"><small class="text-muted">Paints</small></li>
              <li class="list-inline-item"><small class="text-muted">Tapestry</small></li>
              <li class="list-inline-item"><small class="text-muted">Hangbags</small></li>
              <li class="list-inline-item"><small class="text-muted">Ceramic</small></li>
              <li class="list-inline-item"><small class="text-muted">Textil</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Slider -->
  <div id="carouselExampleIndicators" class="carousel slide mt-less-15" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/front2/banner.jpg' %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="caption-carousel between-lines">We share customs</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev w-10" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next w-10" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--Home side -->
  <div class="row border-bottom px-content">
    <div class="col-md-12 position-relative" style="bottom: -12px">
      <ul class="list-inline">
        <li class="list-inline-item text-yellow-brown"><small class="font-weight-bold">HOME</small></li>
        <li class="list-inline-item"><img src="{% static 'images/front2/right_row.png' %}" class="img-fluid w-50"></li>
        <li class="list-inline-item"><small class="">WHAT IS RANKANA</small></li>
      </ul>
    </div>
  </div>
  <div class="row px-content">
    <div class="col-md-4">
      <img src="{% static 'images/front2/person.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4 text-center py-5">
      <h3 class="font-weight-bold">What is Rankana?</h3>
      <p>We are not a conventional e commerce</p>
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/computer.png' %}" class="img-fluid">
    </div>
  </div>
  <div class="row position-relative rectangle">
    <div class="col-md-12">
      <img src="{% static 'images/front2/rectangle.png' %}" class="img-fluid">
    </div>
  </div>
  <!-- Images -->
  <div class="row px-content">
    <div class="col-md-4">
      <img src="{% static 'images/front2/cuadro_ejemplo.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/2.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/3.png' %}" class="img-fluid">
    </div>
  </div>
  <div class="row px-content mt-2">
    <div class="col-md-4">
      <img src="{% static 'images/front2/4.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/5.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/6.png' %}" class="img-fluid">
    </div>
  </div>
  <div class="row px-content mt-2 mb-5">
    <div class="col-md-4">
      <img src="{% static 'images/front2/7.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/8.png' %}" class="img-fluid">
    </div>
    <div class="col-md-4">
      <img src="{% static 'images/front2/9.png' %}" class="img-fluid">
    </div>
  </div>
  <!-- Categories -->
  <div class="bg-gray mt-5 py-5">
    <div class="row px-content">
      <div class="col-md-12 text-center my-5">
        <h3 class="font-weight-bold dark between-lines">Our Product Categories</h3>
        <p class="text-muted">Navigate and discover unique products</p>
      </div>
    </div>
    <div class="row px-content my-3">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/front2/category1.png' %}" class="img-fluid w-25">
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'images/front2/category2.png' %}" class="img-fluid w-25">
      </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'images/front2/category3.png' %}" class="img-fluid w-25">
      </div>
    </div>
    <div class="row px-content my-4">
      <div class="col-md-4 text-center">
        <h6 class="font-weight-bold">Goldsmithing</h6>
      </div>
      <div class="col-md-4 text-center border-dark border-left border-right">
        <h6 class="font-weight-bold">Paints</h6>
      </div>
      <div class="col-md-4 text-center">
        <h6 class="font-weight-bold">Tapestry</h6>
      </div>
    </div>
    <div class="row px-content my-5">
      <div class="col-md-3 text-center">
        <img src="{% static 'images/front2/category4.png' %}" class="img-fluid w-25">
      </div>
      <div class="col-md-3 text-center">
        <img src="{% static 'images/front2/category5.png' %}" class="img-fluid w-25">
      </div>
      <div class="col-md-3 text-center">
        <img src="{% static 'images/front2/category6.png' %}" class="img-fluid w-25">
      </div>
      <div class="col-md-3 text-center">
        <img src="{% static 'images/front2/category7.png' %}" class="img-fluid w-15">
      </div>
    </div>
    <div class="row px-content">
      <div class="col-md-3 text-center">
        <h6 class="font-weight-bold">Compas</h6>
      </div>
      <div class="col-md-3 text-center border-dark border-left border-right">
        <h6 class="font-weight-bold">Hangbags</h6>
      </div>
      <div class="col-md-3 text-center border-dark border-right">
        <h6 class="font-weight-bold">Ceramic</h6>
      </div>
      <div class="col-md-3 text-center">
        <h6 class="font-weight-bold">Textile</h6>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="bg-black py-5">
    <div class="row px-content">
      <div class="col-md-2">
        <h6 class="text-yellow-brown">PRODUCT LINE</h6>
        <ul>
          <li>Goldsmithing</li>
          <li>Paints</li>
          <li>Tapestry</li>
          <li>Compas</li>
          <li>Handbags</li>
          <li>Ceramic</li>
          <li>Textile</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-yellow-brown">RANKANA</h6>
        <ul>
          <li>About us</li>
          <li>Mission & Vision</li>
          <li>Product line</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="text-yellow-brown">CONTACT US</h6>
        <ul>
          <li>Register</li>
          <li>Login</li>
          <li>Contact us</li>
          <li>Phone number</li>
          <li>E-mail</li>
        </ul>
      </div>
      <div class="offset-md-3 col-md-3 text-center">
        <h6 class="text-yellow-brown">FOLLOW US ON</h6>
        <ul class="list-inline">
          <img src="{% static 'images/front2/fae.png' %}" class="img-fluid w-15 mx-1">
          <img src="{% static 'images/front2/tw.png' %}" class="img-fluid w-15 mx-1">
          <img src="{% static 'images/front2/ins.png' %}" class="img-fluid w-15 mx-1">
        </ul>
      </div>
    </div>
    <div class="row px-content">
      <div class="col-md-12 text-center text-cold-gray">
        @copyright-2018-rankana-all-rights-reserved-data-privacy
      </div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>