{% extends "base.html" %}
{% load static %}

{% block content %}
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Dekoding Test</h1>
        <p>This tests is all about testing your skills as Frontend and Backend developer, you should implement the tasks mentioned on the
          description of the test on the following views using bootstrap as UI.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>Frontend</h2>
          <p>We are going to test if you can create user interfaces according to the design sent.</p>
          <p><a class="btn btn-secondary" href="{% url 'frontend' %}" role="button">Lets do it »</a></p>
        </div>
        <div class="col-md-3">
          <h2>Backend</h2>
          <p>We are going to test if you can implement new functionalities to projects.</p>
          <p><a class="btn btn-secondary" href="{% url 'list-dog' %}" role="button">Lets do it »</a></p>
        </div>
        <div class="col-md-3">
          <h2>FrontEnd 2</h2>
          <p><a class="btn btn-secondary" href="{% url 'front2' %}" role="button">Lets do it »</a></p>
        </div>
        <div class="col-md-3">
          <h2>BackEnd 2</h2>
          <p><a class="btn btn-secondary" href="{% url 'back2' %}" role="button">Lets do it »</a></p>
        </div>
      </div>
      <hr>
    </div> <!-- /container -->
  </main>
{% endblock %}