{% extends "backend.html" %}
{% load static %}

{% block content_2 %}
  <div class="border rounded-55 py-3 bg-purple back-title">
    <h3 class="pl-4">Dogs List</h3>
  </div>
  <div class="mt-5 pb-3">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Breed</th>
        <th scope="col">Owner</th>
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.name|capfirst }}</td>
          <td>{{ object.age }}</td>
          <td>{{ object.breed|capfirst }}</td>
          <td>{{ object.owner }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}